//Custom font
@mixin font($font-faminly, $font-file, $font-weight:normal, $font-style:normal) {
  @font-face {
    font-family: $font-faminly;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
      url($font-file+'.woff') format('woff'),
      url($font-file+'.woff2') format('woff2'),
      url($font-file+'.ttf') format('truetype'),
      url($font-file+'.svg#aller') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}



@include font('Convergence', '../static/font/Convergence/Convergence-Regular');
@include font('Roboto', '../static/font/Roboto/Roboto-Regular');

$custom-font: (
  convergence: 'Convergence',
  roboto: 'Roboto',
);

@function givefont($font-name) {
  $holder: map-get($map: $custom-font, $key: $font-name);
  $font-full-name:$holder, Lato, Montserrat, Arial, Helvetica, sans-serif !default;
  @return $font-full-name;
}

// Responsive
$responsive: (desktop: 75em,
min_desktop: 62em,
tab: 48em,
min_tab:36em);

@mixin responsive($size) {
  @media (min-width: $size) {
    @content;
  }
}

@function resp($resp-size) {
  @return map-get($map: $responsive, $key: $resp-size);
}

@mixin mobile-grid {
  display: grid !important;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(1rem, auto);
}

@mixin globalView {
  background-color: #fff;
  margin: calculateRem(45px) 0;
  padding: calculateRem(40px) calculateRem(35px);
}

//calculating sizes 
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size !important; //Fallback in px
  font-size: calculateRem($size) !important;
}

//Custom styles
@mixin btn {
  color: $primary !important;
  border-radius: calculateRem(30px) !important;
}

@mixin bg-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}